@model List<ProductDTO>
<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="@item.ImgUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">@item.Price.ToString("c")</p>
                    <a asp-route-id="@item.Id" asp-action="Details" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>